{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "typescript", "jsx", "tsx", "css", "markup"],
        "theme": "coy",
        "css": true
    }]
  ]
}
