@import '~antd/dist/antd.css';

.pointer {
  cursor: pointer;
}

.layout-padding {
  padding: 0 50px 30px;
}
.layout-content-padding {
  padding: 24px;
}

@media screen and (max-width: 639px) {
  .layout-padding {
    padding: 0 20px 10px;
  }
  .layout-content-padding {
    padding: 8px;
  }
}
